.btn {
    text-transform: uppercase;
    color: white;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 400;
    height: 50px;
}

.btn-green {
    background: #93856f;
}

.main-title {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    @media(max-width: 767px){
        font-size: 18px;
    }
}

.block-article {
    line-height: 32px;
    font-size: 18px;
}

.btn-black {
    background: black;
    max-width: 313px;
    width: 100%;
}
