.btn {
    text-transform: uppercase;
    color: white;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 400;
    height: 50px;
}

.btn-green {
    background: #93856f;
}

.main-title{
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

.block-article{
    line-height: 32px;
    font-size: 18px;
}
