.calculate {
	background-image: radial-gradient(0px 0px at 0% 0%, #727256 0%, #39392b 100%);
	padding: 27px 0 20px;
	color: #ffffff;

	@media (min-width : 768px) {
		padding-top: 46px;
	}
}


/*Заголовок*/
.clculate__title {
	text-align: center;
	font-size: 14px;
	font-weight: 800;
	font-family: "Avenir";
	text-transform: uppercase;

	margin-bottom: 25px;

	@media (min-width : 768px) {
		font-size: 18px;
	}
}


/*Селект для переключения калькулятора*/
.calculate__select {
	width: 139px;
	margin: 0 auto;
	margin-bottom: 23px;

	@media (min-width : 768px) {
		display: flex;
		justify-content: center;
		margin-bottom: 31px;
	}
}

.calculate__select .selectric{
	background-color: #ffffff;
	border-radius: 20px;
	border: 1px solid #ffffff;

	color: #000000;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 900;
	font-family: "Optima";

	span {
		display: flex;
		justify-content: center;
		align-items: center;

		line-height: 9px;
		font: inherit;
	}

	@media (min-width : 768px) {
		font-size: 14px;
		width: 191px;
	}
}

.calculate__select .button {
	background-color: #ffffff;

	&::after {
		border: none;

		background-image: url('../img/arrow-down.png');
		width: 18px;
		height: 15px;
		top: 7px;
		left: -40px;
	}
}


/*Заголовок верхнего блока*/
.terras-calculate__up {
	background-image: url('../img/calc_background.svg');
	background-repeat: no-repeat;
	background-size: 250px 250px;
	background-position: center 50px;
	position: relative;

	@media (min-width : 768px) {
		background-size: 419px 419px;
	}
}

.terras-calculate__up  h2{
	font-family: "Optima";
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;

	margin-bottom: 37px;

	@media (min-width : 768px) {
		font-size: 18px;
		margin-bottom: 65px;
	}
}


/*Фон для ферхнего блока*/
.terras-slider__first-up {
}

/*Верхний 1й слайдер*/
.gallery-top1 {
	max-width: 700px;
}

.gallery-top1 h3 {
	font-size: 13px;
	text-transform: uppercase;
	font-family: "Optima";
	font-weight: 400;
	text-align: center;

	margin-bottom: 20px;

	@media (min-width : 768px) {
		font-size: 20px;
		margin-bottom: 40px;
	}
}

.gallery-top1 .swiper-slide {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.terras-calculate__select .selectric {
	background-color: transparent;
	border-radius: 10px;
	text-align: center;
	color: #ffffff;
	font-weight: 500;

	width: 140px;

	span {
		color: #ffffff;
		margin: 0;
		font-size: 11px;

		@media (min-width : 768px) {
			font-size: 16px;
		}
	}

	.button {
		&::after {
			background-image: url('../img/arrow-down_white.png');
			background-repeat: no-repeat;
			background-position: 0 0;
			-webkit-background-size: cover;
			background-size: cover;
			width: 15px;
			height: 12px;
			border: none;
			top: 7px;
			right: 10px;
		}
	}

	@media (min-width : 768px) {
		width: 168px;
	}
}

.terras-calculate__select .selectric-wrapper {
	@media (min-width : 768px) {
		display: flex;
		justify-content: center;
	}
}

.terras-calculate__select .button {
	background-color: transparent;
}

.gallery-top1-column{
	max-width: 300px;
	margin: 0 auto;
	margin-top: -20px;
	margin-bottom: -30px;


	@media (min-width : 768px) {
		max-width: 589px;
		height: 392px;


		margin-top: -70px;
		margin-bottom: -70px;
	}
}

.gallery-top1 .swiper-button-next {
	background-image: url('../img/calculate-next.png');
	background-size: 10px 12px;
	background-position: 10px 9px;

	width: 23px;
	height: 22px;
	border: 1px solid #ffffff;
	border-radius: 50%;

	@media (min-width : 768px) {
		width: 35px;
		height: 35px;

		background-size: 14px 15px;
		background-position: 10px 11px;
	}
}

.gallery-top1 .swiper-button-prev {
	background-image: url('../img/calculate-prev.png');
	background-size: 10px 12px;
	background-position: 10px 9px;

	width: 23px;
	height: 22px;
	border: 1px solid #ffffff;
	border-radius: 50%;

	@media (min-width : 768px) {
		width: 35px;
		height: 35px;

		background-size: 14px 15px;
		background-position: 8px 11px;
	}
}

.terras-calculate__up-button {
	width: 153px;
	height: 35px;
	margin: 0 auto;
	margin-bottom: 54px;

	display: block;
	border: 1px solid #ffffff;
	background-color: transparent;
	border-radius: 20px;

	color: #ffffff;
	font-size: 13px;
	font-weight: 900;
	font-family: "Optima";
	text-transform: uppercase;

	@media (min-width : 768px) {
		font-size: 12px;
		width: 235px;
		height: 45px;

		margin-bottom: 72px;
	}
}

.terras-calculate__tabs {
	border-bottom: 1px solid #5e5e5e;
	padding-bottom: 14px;
}

.terras-calculate__tabs {
	margin-bottom: 25px;
}

.terras-calculate__tabs ul {
	display: flex;
	justify-content: space-between;
	max-width: 290px;
	margin: 0 auto;


	font-family: "Avenir";
	font-size: 9px;
	font-weight: 800;

	span {
		display: none;
	}

	a {
			color: #ffffff;
		}

	li {
		opacity: 0.22;
	}

	@media (min-width : 600px) {
		max-width: 360px;
		font-size: 12px;
	}

	@media (min-width : 768px) {
		font-size: 14px;
		max-width: 620px;
	}

}

.terras-calculate__tabs .terras-calculate__tabs_active {
		opacity: 1;
}

.gallery-thumbs1-column {
	width: 110px;
	margin: 0 auto;
	text-align: center;

	@media (min-width : 768px) {
		width: 180px;
	}
}

.gallery-thumbs1 .swiper-scrollbar {
	background-color: #5e5e5e;
	height: 1px;
}

.gallery-thumbs1 .swiper-scrollbar-drag {
	background-color: #ffffff;
}

.gallery-thumbs1 .swiper-wrapper {
	margin-bottom: 20px;
}

.gallery-thumbs1 {

}


.gallery-thumbs1 .swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	span {
		opacity: 0.22;
		color: #ffffff;
		font-family: "Avenir";
		font-size: 9px;
		font-weight: 500;
		text-transform: uppercase;

		@media (min-width : 768px) {
			font-size: 14px;
		}
	}
}

.gallery-thumbs1 .swiper-slide-thumb-active {
	span {
		opacity: 1;
	}
}
