.service-block.line-bottom
    p.main-title.service-block__title Услуги indiwood
    
    ul.photo-list.photo-list_service
        li.photo-list__item
            
            .photo-list__content
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    
        li.photo-list__item
            .photo-list__img
                img(src="img/service-1.jpg")
            
            ul.photo-list__article
                li 01
                li выезд на объект
                li
                    button(type="button").btn.photo-list__btn Подробнее
                    
        li.photo-list__item
            .photo-list__img
                img(src="img/service-2.jpg")
            
            ul.photo-list__article
                li 02
                li Замер
                li
                    button(type="button").btn.photo-list__btn Подробнее
                    
        li.photo-list__item
            .photo-list__img
                img(src="img/service-3.jpg")
            
            ul.photo-list__article
                li 03
                li Геодезия
                li
                    button(type="button").btn.photo-list__btn Подробнее
                    
        li.photo-list__item
            .photo-list__img
                img(src="img/service-4.jpg")
            
            ul.photo-list__article
                li 04
                li Проектирование
                li
                    button(type="button").btn.photo-list__btn Подробнее
                    
        li.photo-list__item
            .photo-list__img
                img(src="img/service-5.jpg")
            
            ul.photo-list__article
                li 05
                li Визуализация
                li
                    button(type="button").btn.photo-list__btn Подробнее
                    
        li.photo-list__item
            .photo-list__img
                img(src="img/service-6.jpg")
            
            ul.photo-list__article
                li 06
                li Все материалы
                li
                    button(type="button").btn.photo-list__btn Подробнее
                    
        li.photo-list__item
            .photo-list__img
                img(src="img/service-7.jpg")
            
            ul.photo-list__article
                li 07
                li Доставка
                li
                    button(type="button").btn.photo-list__btn Подробнее
                    
        li.photo-list__item
            .photo-list__img
                img(src="img/service-8.jpg")
            
            ul.photo-list__article
                li 08
                li Монтаж
                li
                    button(type="button").btn.photo-list__btn Подробнее


.gallery-block.line-bottom
    p.main-title.gallery-block__title Галерея indiwood
    
    .gallery-indiwood.swiper-container
        .swiper-wrapper
            .swiper-slide
                .gallery-indiwood__img
                    img(src="img/ig-1.jpg")
                
                ul.gallery-indiwood__cont
                    li
                        p.gallery-indiwood__title Royal beach
                        p.gallery-indiwood__sub-title Yacht club
                    li
                        p.gallery-indiwood__article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    
            .swiper-slide
                .gallery-indiwood__img
                    img(src="img/ig-2.jpg")
                        
                ul.gallery-indiwood__cont
                    li
                        p.gallery-indiwood__title Royal beach
                        p.gallery-indiwood__sub-title Yacht club
                    li
                        p.gallery-indiwood__article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        
            .swiper-slide
                .gallery-indiwood__img
                    img(src="img/ig-1.jpg")
                        
                ul.gallery-indiwood__cont
                    li
                        p.gallery-indiwood__title Royal beach
                        p.gallery-indiwood__sub-title Yacht club
                    li
                        p.gallery-indiwood__article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        
        .gallery-indiwood__nav        
            .swiper-button-next
            .swiper-button-prev
            
.team-block
    p.main-title.team-block__title Команда indiwood
    
    .swiper-container.team-gallery
        .swiper-wrapper
            .swiper-slide
                .team-gallery__image
                img(src="img/team.jpg")
                |1
            .swiper-slide
                img(src="img/team.jpg")
                |2
            .swiper-slide
                img(src="img/team.jpg")
                |3
            .swiper-slide
                img(src="img/team.jpg")
                |4
            .swiper-slide
                img(src="img/team.jpg")
                |5
            .swiper-slide
                img(src="img/team.jpg")
                |6
                    
        .swiper-button-next.swiper-button-white
        .swiper-button-prev.swiper-button-white
    
    .swiper-container.team-gallery-thumbs
        .swiper-wrapper
            .swiper-slide
                img(src="img/team.jpg")
                |1
            .swiper-slide
                img(src="img/team.jpg")
                |2
            .swiper-slide
                img(src="img/team.jpg")
                |3
            .swiper-slide
                img(src="img/team.jpg")
                |4
            .swiper-slide
                img(src="img/team.jpg")
                |5
            .swiper-slide
                img(src="img/team.jpg")
                |6       
    
    
    
