.service-block.line-bottom
    p.main-title.service-block__title Услуги indiwood

    ul.photo-list.photo-list_service
        li.photo-list__item

            .photo-list__content.article
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

        li.photo-list__item
            .photo-list__img
                img(src="img/service-1.jpg")

            ul.photo-list__article
                li 01
                li выезд на объект
                li
                    button(type="button").btn.photo-list__btn Подробнее

        li.photo-list__item
            .photo-list__img
                img(src="img/service-2.jpg")

            ul.photo-list__article
                li 02
                li Замер
                li
                    button(type="button").btn.photo-list__btn Подробнее

        li.photo-list__item
            .photo-list__img
                img(src="img/service-3.jpg")

            ul.photo-list__article
                li 03
                li Геодезия
                li
                    button(type="button").btn.photo-list__btn Подробнее

        li.photo-list__item
            .photo-list__img
                img(src="img/service-4.jpg")

            ul.photo-list__article
                li 04
                li Проектирование
                li
                    button(type="button").btn.photo-list__btn Подробнее

        li.photo-list__item
            .photo-list__img
                img(src="img/service-5.jpg")

            ul.photo-list__article
                li 05
                li Визуализация
                li
                    button(type="button").btn.photo-list__btn Подробнее

        li.photo-list__item
            .photo-list__img
                img(src="img/service-6.jpg")

            ul.photo-list__article
                li 06
                li Все материалы
                li
                    button(type="button").btn.photo-list__btn Подробнее

        li.photo-list__item
            .photo-list__img
                img(src="img/service-7.jpg")

            ul.photo-list__article
                li 07
                li Доставка
                li
                    button(type="button").btn.photo-list__btn Подробнее

        li.photo-list__item
            .photo-list__img
                img(src="img/service-8.jpg")

            ul.photo-list__article
                li 08
                li Монтаж
                li
                    button(type="button").btn.photo-list__btn Подробнее


.gallery-block.line-bottom
    p.main-title.gallery-block__title Галерея indiwood

    .gallery-indiwood.swiper-container
        .swiper-wrapper
            .swiper-slide
                .gallery-indiwood__img
                    img(src="img/ig-1.jpg")

                ul.gallery-indiwood__cont
                    li
                        p.gallery-indiwood__title Royal beach
                        p.gallery-indiwood__sub-title Yacht club
                    li
                        p.gallery-indiwood__article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

            .swiper-slide
                .gallery-indiwood__img
                    img(src="img/ig-2.jpg")

                ul.gallery-indiwood__cont
                    li
                        p.gallery-indiwood__title Royal beach
                        p.gallery-indiwood__sub-title Yacht club
                    li
                        p.gallery-indiwood__article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

            .swiper-slide
                .gallery-indiwood__img
                    img(src="img/ig-1.jpg")

                ul.gallery-indiwood__cont
                    li
                        p.gallery-indiwood__title Royal beach
                        p.gallery-indiwood__sub-title Yacht club
                    li
                        p.gallery-indiwood__article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

        .gallery-indiwood__nav        
            .swiper-button-next
            .swiper-button-prev

.team-block.line-bottom
    p.main-title.team-block__title Команда indiwood

    .team-block__inner
        .swiper-container.team-gallery
            .swiper-wrapper
                .swiper-slide
                    ul.team-gallery__list
                        li
                            .team-gallery__image.team-gallery__image_big
                                img(src="img/team.jpg")
                            p.team-gallery__name James Read
                            p.team-gallery__prof Technical manager
                        li
                            p.team-gallery__article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur

                .swiper-slide
                    ul.team-gallery__list
                        li
                            .team-gallery__image.team-gallery__image_big
                                img(src="img/team.jpg")
                            p.team-gallery__name James Read
                            p.team-gallery__prof Technical manager
                        li
                            p.team-gallery__article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur

                .swiper-slide
                    ul.team-gallery__list
                        li
                            .team-gallery__image.team-gallery__image_big
                                img(src="img/team.jpg")
                            p.team-gallery__name James Read
                            p.team-gallery__prof Technical manager
                        li
                            p.team-gallery__article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur

                .swiper-slide
                    ul.team-gallery__list
                        li
                            .team-gallery__image.team-gallery__image_big
                                img(src="img/team.jpg")
                            p.team-gallery__name James Read
                            p.team-gallery__prof Technical manager
                        li
                            p.team-gallery__article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur

                .swiper-slide
                    ul.team-gallery__list
                        li
                            .team-gallery__image.team-gallery__image_big
                                img(src="img/team.jpg")
                            p.team-gallery__name James Read
                            p.team-gallery__prof Technical manager
                        li
                            p.team-gallery__article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur

                .swiper-slide
                    ul.team-gallery__list
                        li
                            .team-gallery__image.team-gallery__image_big
                                img(src="img/team.jpg")
                            p.team-gallery__name James Read
                            p.team-gallery__prof Technical manager
                        li
                            p.team-gallery__article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur

            .swiper-button-next.swiper-button-black
            .swiper-button-prev.swiper-button-black

        .swiper-container.team-gallery-thumbs
            .swiper-wrapper
                .swiper-slide
                    .team-gallery__image.team-gallery__image_thumb
                        img(src="img/team.jpg")
                    p.team-gallery__name.team-gallery__name_thumb James Read
                    p.team-gallery__prof Technical manager

                .swiper-slide
                    .team-gallery__image.team-gallery__image_thumb
                        img(src="img/team.jpg")
                    p.team-gallery__name.team-gallery__name_thumb James Read
                    p.team-gallery__prof Technical manager

                .swiper-slide
                    .team-gallery__image.team-gallery__image_thumb
                        img(src="img/team.jpg")
                    p.team-gallery__name.team-gallery__name_thumb James Read
                    p.team-gallery__prof Technical manager

                .swiper-slide
                    .team-gallery__image.team-gallery__image_thumb
                        img(src="img/team.jpg")
                    p.team-gallery__name.team-gallery__name_thumb James Read
                    p.team-gallery__prof Technical manager

                .swiper-slide
                    .team-gallery__image.team-gallery__image_thumb
                        img(src="img/team.jpg")
                    p.team-gallery__name.team-gallery__name_thumb James Read
                    p.team-gallery__prof Technical manager

                .swiper-slide
                    .team-gallery__image.team-gallery__image_thumb
                        img(src="img/team.jpg")
                    p.team-gallery__name.team-gallery__name_thumb James Read
                    p.team-gallery__prof Technical manager

.news-block.line-bottom
    p.main-title.news-block__title indiwood новости

    ul.news-top
        li.news-top__item
            p.news-date 15th november 2020
            p.news-title Royal beach
            p.news-sup-title yacht club
            
            .news-img
                img(src="img/news.jpg")
            
            ul.news-preview-list
                li
                    p.news-article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                li
                    p.news-article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            
            .read-more
                a(href="#") read more
                
        li.news-top__item
            .news-date 15th november 2020
            p.news-title Royal beach
            p.news-sup-title yacht club
            
            .news-img
                img(src="img/news.jpg")
            
            ul.news-preview-list
                li
                    p.news-article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                li
                    p.news-article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            
            .read-more
                a(href="#") read more
                
    ul.news-bottom
        li.news-bottom__item
            .news-date 15th november 2020
            p.news-title Royal beach
            p.news-sup-title yacht club
            
            .news-img
                img(src="img/news.jpg")
                    
            p.news-article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            
            .read-more
                a(href="#") read more
            
        li.news-bottom__item
            .news-date 15th november 2020
            p.news-title Royal beach
            p.news-sup-title yacht club
            
            .news-img
                img(src="img/news.jpg")
                    
            p.news-article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            
            .read-more
                a(href="#") read more
            
        li.news-bottom__item
            .news-date 15th november 2020
            p.news-title Royal beach
            p.news-sup-title yacht club
            
            .news-img
                img(src="img/news.jpg")
                    
            p.news-article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            
            .read-more
                a(href="#") read more
            
        li.news-bottom__item
            .news-date 15th november 2020
            p.news-title Royal beach
            p.news-sup-title yacht club
            
            .news-img
                img(src="img/news.jpg")
                    
            p.news-article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  
            
            .read-more
                a(href="#") read more    

    .news-block__btn-wrap
        button(type="button").btn.news-block__btn Смотреть еще    
