.main-banner
    .banner-slider.swiper-container
        .swiper-wrapper
            .swiper-slide(style="background-image:url(./img/header-banner.jpg)")
                .banner-slider__cont 
                    p.banner-slider__article валопрваопв Lorem ipsum dolor sit amet, consectetur adipiscing sed do eiusmod
                    .main-banner__btn
                        button(type="button").btn.btn-green Заказать террасу
            .swiper-slide(style="background-image:url(./img/header-banner.jpg)")
                .banner-slider__cont
                    p.banner-slider__article Lorem ipsum dolor sit amet, consectetur adipiscing sed do eiusmod
                    .main-banner__btn
                        button(type="button").btn.btn-green Заказать террасу
            .swiper-slide(style="background-image:url(./img/header-banner.jpg)")
                .banner-slider__cont
                    p.banner-slider__article Lorem ipsum dolor sit amet, consectetur adipiscing sed do eiusmod
                    .main-banner__btn
                        button(type="button").btn.btn-green Заказать террасу
            .swiper-slide(style="background-image:url(./img/header-banner.jpg)")
                .banner-slider__cont
                    p.banner-slider__article Lorem ipsum dolor sit amet, consectetur adipiscing sed do eiusmod
                    .main-banner__btn
                        button(type="button").btn.btn-green Заказать террасу
                    
        .swiper-pagination
        .swiper-button-next.swiper-button-white
        .swiper-button-prev.swiper-button-white
    

                
