<section class="calculate">
	<h1 class="clculate__title">Калькулятор</h1>

	<div class=" calculate__select">
		<select tabindex="0">
			<option value="Террас">Террас</option>
			<option value="Заборов">Заборов</option>
		</select>
	</div>


	<!-- Terras-calculate -->
	<div class="terras-calculate">

		<div class="terras-calculate__up">
			<h2>01. Выберите модель и размер</h2>

			<div class="terras-slider__first-up">

				<div class="swiper-container gallery-top1">
					<div class="swiper-wrapper">

						<div class="swiper-slide">
							<div class="terras-calculate__select">
								<h3>Unodeck vintage</h3>
								<select tabindex="0">
									<option value="150x24">150x24</option>
									<option value="150x24">150x24</option>
								</select>
							</div>

							<div class="gallery-top1-column">
								<img src="img/slider1-big.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide">
							<div class="terras-calculate__select">
								<h3>Unodeck vintage</h3>
								<select tabindex="0">
									<option value="150x24">150x24</option>
									<option value="150x24">150x24</option>
								</select>
							</div>

							<div class="gallery-top1-column">
								<img src="img/slider1-big.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide">
							<div class="terras-calculate__select">
								<h3>Unodeck vintage</h3>
								<select tabindex="0">
									<option value="150x24">150x24</option>
									<option value="150x24">150x24</option>
								</select>
							</div>

							<div class="gallery-top1-column">
								<img src="img/slider1-big.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide">
							<div class="terras-calculate__select">
								<h3>Unodeck vintage</h3>
								<select tabindex="0">
									<option value="150x24">150x24</option>
									<option value="150x24">150x24</option>
								</select>
							</div>

							<div class="gallery-top1-column">
								<img src="img/slider1-big.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide">
							<div class="terras-calculate__select">
								<h3>Unodeck vintage</h3>
								<select tabindex="0">
									<option value="150x24">150x24</option>
									<option value="150x24">150x24</option>
								</select>
							</div>

							<div class="gallery-top1-column">
								<img src="img/slider1-big.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide">
							<div class="terras-calculate__select">
								<h3>Unodeck vintage</h3>
								<select tabindex="0">
									<option value="150x24">150x24</option>
									<option value="150x24">150x24</option>
								</select>
							</div>

							<div class="gallery-top1-column">
								<img src="img/slider1-big.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide">
							<div class="terras-calculate__select">
								<h3>Unodeck vintage</h3>
								<select tabindex="0">
									<option value="150x24">150x24</option>
									<option value="150x24">150x24</option>
								</select>
							</div>

							<div class="gallery-top1-column">
								<img src="img/slider1-big.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide">
							<div class="terras-calculate__select">
								<h3>Unodeck vintage</h3>
								<select tabindex="0">
									<option value="150x24">150x24</option>
									<option value="150x24">150x24</option>
								</select>
							</div>

							<div class="gallery-top1-column">
								<img src="img/slider1-big.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide">
							<div class="terras-calculate__select">
								<h3>Unodeck vintage</h3>
								<select tabindex="0">
									<option value="150x24">150x24</option>
									<option value="150x24">150x24</option>
								</select>
							</div>

							<div class="gallery-top1-column">
								<img src="img/slider1-big.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide">
							<div class="terras-calculate__select">
								<h3>Unodeck vintage</h3>
								<select tabindex="0">
									<option value="150x24">150x24</option>
									<option value="150x24">150x24</option>
								</select>
							</div>

							<div class="gallery-top1-column">
								<img src="img/slider1-big.png" alt="slider1">
							</div>
						</div>


					</div>
					<!-- Add Arrows -->
					<div class="swiper-button-next swiper-button-white"></div>
					<div class="swiper-button-prev swiper-button-white"></div>
				</div>
			</div><!-- slider-first -->

			<button class="terras-calculate__up-button" type="button">Далее</button>


		</div><!-- end terras-calculate__up -->

		<div class="terras-calculate__tabs">
			<ul>
				<li class="terras-calculate__tabs_active"><a href="#">01 / <span>Модель</span></a></li>
				<li><a href="#">02 / <span>Цвет</span></a></li>
				<li><a href="#">03 / <span>Текстура</span></a></li>
				<li><a href="#">04 / <span>Способ укладки</span></a></li>
				<li><a href="#">05 / <span>Форма и размер террасы</span></a></li>
				<li><a href="#">06 / <span>Ступени</span></a></li>
			</ul>
		</div><!-- end terras-calculate__tabs -->


		<div class="terras-calculate__down">

			<div class="terras-calculate__first-down">
				<div class="swiper-container gallery-thumbs1">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
						</div>

					</div>

					<!-- Add Scrollbar -->
					<div class="swiper-scrollbar"></div>
				</div>
			</div><!-- end slider-first -->


		</div><!-- end terras-calculate__down -->


	</div><!-- end terras-calculate -->


</section>