header.header
    .header__item
        .logo 
            .logo__name Indiwood
            .logo__article individual wood solutions
        
        .burger
            img(src="img/burger.png" alt="individual wood solutions")
            
    .header__item
        nav.main-nav
            ul
                li
                    a(href="#") Каталог
                li
                    a(href="#") Калькулятор
                li
                    a(href="#") О нас
                li
                    a(href="#") Контакты
                
    .header__item
        ul.phone-block
            li
                a(href="tel:7499787995").phone +7 (499) 787 99 5
            li
                span.work-time 5/2    9:00 - 18:00
        
        button(type="button").recall 
            span Заказать звонок
        
    
    
